<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale-1.0">
        <link rel="stylesheet" type="text/css" href="/css/distyle.css" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <title>Home</title>
    </head>

    
      


<p> </p>

    <body>
        
        <div id="header">
           <h1>Welcome to my website!</h1>
           <h1>- Mason M.</h1>
        </div>
        

        <div id="navigation"> 
            <ul>
                <li><a href="/" class="btn btn-success">Home</a></li>
                <li><a href="/articles/about_me" class="btn btn-success">About Me</a></li>
                <li><a href="/articles/contact_me" class="btn btn-success">Contact Me</a></li>
                <li><a href="/articles/snake" class="btn btn-success">Snake</a></li>
                <li><a href="/articles/dissertation" class="btn btn-success">Dissertation</a></li>
                <li><a href="/articles/mark_down_blog" class="btn btn-success">Blog Example</a></li>
            </ul>
        </div> 
        <div class="column1">
        <div id="centredheader">
            <h1>Mason M.</h1>
            <H1>https://www.github.com/mason-x86.com</H1>
        </div>
        <p></p>
        <h1>Education and Qualifications</h1>
        <h2>University of Winchester (September 2020- July 2023) BSc Computer Science, Grade (2:1)</h2>
        <p>Relevant Modules:</p>
        <p>•	Web and Mobile App Development BS2205 89.8%</p>
        <p>•	Software Testing BS2927 74%</p>
        <p>•	Database Analysis and Design BS1201 68%</p>
        <p></p>
        <p>Modules BS2205 and BS1201 taught me the skills and knowledge needed for developing software, including the software development life cycle and agile methodologies.</p>
        <p>Module BS2205 taught me how to develop a complete web application in Node.js.</p>
        <P>Module BS1201 focused on APEX, data management, big data, database security and relational database technology, with was taught to me through practical assignments. </P>
        <p></p>
        <h2>Barton Peveril College (September 2017- June 2019)</h2>
        <p>
            •	A-Level Math (B)
            •	A-Level Computer Science (C)
            •	Level 3 IT (MMM)
        </p>
        <p></p>
        <h2>St George Catholic College (September 2012- June 2017)</h2>
        <p>•	10 GCSEs at grades A-C- or 9-6 (including Mathematics and English).</p>
        <p></p>
        <h1>Project Work</h1>
        <h2>Course Viewer – Submission for Module BS2205</h2>
        <p>Hosted: https://mm-portfolio-university-c99b73c6d2a4.herokuapp.com/</p>
        <p>Description: A web application for students and teachers to view and manage course enrolments</p>
        <p>Aim: To create a web app that provides students easy access to all their enrolment information and to provide teachers an easy way of managing their classes online.</p>
        <p>Skills Developed: Node.js, SDLC, Microsoft Azure, MySQL, Debugging, PaaS.</p>
        <p></p>
        <h2>Online Library Rentals – Submission for Object Oriented Programming Module BS2022 </h2>
        <p>Source Code: Mason-x86/SummativeAssignmentLibrarySystem (github.com)</p>
        <p>Description: Customers use the application to loan a book or movie from the library from an online catalogue of items. The application will track the number of credits they have with the library as well as the comics and movies they have loaned and how long they are entitled to possess them.</p>
        <p>Aim: To increase the availability and access for customers renting products and increasing the potential customer base by migrating the business case study onto the internet.</p>
        <p>Skills Developed: Java, JavaFX, MySQL ,SDLC, OOP.</p>
        <p></p>
        <h1>Work History</h1>
        <h2>The Running Horse (July, 2022)</h2>
        <p>
Responsibilities 
•	Customer Service
•	Team Work
•	Handling Food
        </p>
        <h2>One Stop (July till current date, 2023)</h2>
        <p>
            Responsibilities 
            •	Customer Service
            •	Team Work
            •	Cashing Up            
        </p>
        <p></p>
        <h1>Voluntary Work</h1>
        <h2>PC Repairs – Voluntary work for charity (September, 2019)</h2>
        <p>
Responsibilities 	
•	Building refurbished PC’s and Laptops
•	Installing operating systems over network 

        </p>
        <p></p>
        <h1>Interests and Achievements </h1>
        <p>
            •	University of Winchester’s Ultimate Frisbee Team.
            •	Perform live music at the Railway Inn, playing the bass.
            •	Chess and strategy board/card games.
        </p>
        <p></p>
        <h1>Additional Skills</h1>
        <p>•	Level 2 IT Applications Skills (Grade: Distinction *) Microsoft Word, Excel, PowerPoint</p>
        <p></p>
        <h1></h1>
    </div>
    </body>
</html>