<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale-1.0">
    <link rel="stylesheet" type="text/css" href="/css/style_snake.css" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Snake Game</title>
    <script src="/scripts/script.js" defer></script>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<style>
    table, th, td {
      border:1px solid black;
    }
</style>

<body>
   
    <div id="header">
        <h1>Lets play Snake!</h1>
        <h1>hit the space bar to start the game!</h1>
    </div>

    <div id="navigation"> 
        <ul>
            <li><a href="/" class="btn btn-success">Home</a></li>
            <li><a href="/articles/about_me" class="btn btn-success">About Me</a></li>
            <li><a href="/articles/contact_me" class="btn btn-success">Contact Me</a></li>
            <li><a href="/articles/snake" class="btn btn-success">Snake</a></li>
            <li><a href="/articles/dissertation" class="btn btn-success">Dissertation</a></li>
            <li><a href="/articles/mark_down_blog" class="btn btn-success">Blog Example</a></li>
        </ul>
    </div> 
    <div class="wrapper">
        <div class="game-details">
            <span class="score">Score: 15</span>
            <span class="high-score">High Score: 30</span>
        </div>
        <div class="play-board">
        </div>
    </div>
    


        
   
</body>


</html>